.comment {
  font-size: 25px;
  min-height: 50px;
  min-width: 120px;
  background-color: rgba(214, 185, 7, 0.5);
  padding: 12px;
  border-radius: 10px;
  margin-top: 20px;
}

.commentBlock, .button {
  margin-top: 20px;
}

